button{ 
  border: 0px;
}

#bracket-snippet button {
  border-radius: 5px;
  color: #FFF;
  margin: 5% 0%;
  padding: 2% 6% 0% 6%;
  font-size: 1.2em;
  white-space: nowrap;
}

#line {
  height: 4px;
  width: 112%;
  margin: 0% -6%;
  border-radius: 0px 0px 6px 6px;
}

.drop-item{ 
  white-space: nowrap;
  background-color: #444;
}

h5 {
  margin-top: -50px;
  font-size: 0.85rem;
  color: #5F5F63;
}

p {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  padding: 0% 5%;
  color: #FFF;
  margin-bottom: 5px;
}

.dropdown-menu{
  padding: 5px;
  background: #F8F8F8;
  border-radius: 5px;
  box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3); 
  -webkit-box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3); 
  -moz-box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3);
}

a {
  color : #3B4247 !important;
  font-weight: 500;
}

main {
  min-width: 960px;
}

.large {
  line-height: 1.5;
  font-size: 1.50rem;
}

.row {
  flex-wrap: nowrap
}

h1 {
  font-size: 2.3rem;
}

.afc-tone {
  background-color: #FA8988;
  border-radius: 5px;
  padding: 20px
}

.nfc-tone {
  background-color: #A6D6FA;
  border-radius: 5px;
  padding: 20px
}

.wip{
  background-color: #ffffff;
  opacity: 20%;
  pointer-events:none
}

.hide  {
  display:none
}

.row{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

#username{
  width: auto;
}

.correct{
  border-left: 6px solid green; !important
}

.correct #line {
  border-bottom-left-radius: 0px;

}

.wrong{
  border-left: 6px solid red;
}

.wrong #line {
  border-bottom-left-radius: 0px;
}

.btn-group : hover{
	border: none;
}

@media only screen and (max-width: 960px) {
  #bracket-snippet button {
    margin: 15% 0%;
  }
}
