button {
	border: 0px;
	border-radius: 5px;
	color: #FFF;
	margin: 0;
	padding: 1% 5% 0% 5%;
	font-size: 1.1em;
	white-space: nowrap;
}

#line {
	height: 4px;
	width: 110%;
	margin: 0% -5%;
	border-radius: 0px 0px 5px 5px;
}

.drop-item{ 
	white-space: nowrap;
	background-color: #444;
}

p {
	width: 100%;
	border-radius: 5px;
	height: 100%;
	padding: 0% 5% ;
	color: #FFF;
	margin-bottom: 5px;
}

.dropdown-menu{
	padding: 5px;
	background: #F8F8F8;
	border-radius: 5px;
	box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3); 
	-webkit-box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.3);
}

a {
	color : #3B4247 !important;
	font-weight: 500;
}

main {
	min-width: 960px;
}


.row {
	flex-wrap: nowrap
}

h1 {
	font-size: 2.3rem;
}

.afc-tone {
	background-color: #FA8988;
	border-radius: 5px;
	padding: 20px
}

.nfc-tone {
	background-color: #A6D6FA;
	border-radius: 5px;
	padding: 20px
}

.wip{
	background-color: #ffffff;
	opacity: 20%;
	pointer-events:none
}

.hide  {
	display:none
}
